#start {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}
#scoreText {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
#socre {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-left: 30px;
}
.panel {
    width: 600px;
    height: 400px;
    position: relative;
    border: 2px solid blue;
    margin-top: 10px;
}
.panel #fish {
    position: absolute;
    left: 240px;
    top: 165px;
}